@media (max-width: 400px) {
  .functions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
  .Shop {
    position: absolute;
    top: 28rem;
    left: 0px;
  }
}

h1 {
  text-align: center;
  text-decoration: solid;
  text-decoration: underline;
}
h2 {
  text-align: center;
}
.functions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
