body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: aqua;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 400px) {
  body {
    background-color: aqua;
    align-content: center;
  }
  img {
    width: 70vw;
    position: absolute;
    left: 3.5rem;
    top: 10rem;
  }
  h1 {
    width: 90vw;
    font-size: 1.8rem;
    text-align: center;
  }
}
